<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.demo.springboot.mapper.UserMapper">

	<select id="findById" resultType="java.lang.String">
		select name from user u where u.id = #{userId}
	</select>

	<select id="findByName" resultType="java.lang.Integer">
		select u.id from user u where u.name= #{username}
	</select>

</mapper>